.todo-list{
  margin-bottom: 20px;
}
.todo-item {
  border: 1px solid #bbb;
  cursor: pointer;
  padding: 10px;
  margin: 5px 0;
  font-size: 16px;
  background-color: #95d39a;
}

.todo-item.done {
  background-color: #71b977;
}
.delete-btn{
  float: right;
  margin-left: 25px;
}

.done-btn {
  float: right; 
}

p {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}