.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.photo-item {
  border: 4px solid black;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 8px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.hidden {
  display: none;
}
.container {
  position: relative;  
}


.full-photo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 3;
}

.background-layout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
  background-color: black;
  opacity: 0.85;
  z-index: 2;
}

.delete-btn {
  position: absolute;
  top: 5px;
  margin-left: -20px;
  cursor: pointer;
}

