body, html, .container, .second-row{
  height: 100%;
}
h1 {
  text-align: center; 
  color: #163018;
  text-shadow: 3px 3px 3px #8ac08e;
}

h3 {
  
  color: #fffdfd;
 
}

span {
  font-size: 25px;
  color: #6d6a6a;
}

.add-button {
 margin-left: 20px;
 color: #fffdfd;
 background: #6d6a6a;
 font-weight: bold;
}
.add-button:hover, 
.add-button:focus {
  color: #fffdfd;
  background: #444644;
}

.board{
  min-height: 100%;
  position: relative;
  border: 1px solid #6d6a6a;
  box-shadow: 0 0 5px 2px;
  margin: 20px;
  overflow: hidden;
}
.stickers-container {
  display: flex;
  flex-wrap: wrap;
}

.sticker-item {
  position: relative;
  height: fit-content;
  display: flex;
  width: 200px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  color: #fcf7f7;
  border: 1px solid #bbb;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  font-size: 20px;
  background-color: #565c56;
  user-select: none;
}



.sticker-header {
  width: 85%;
  
}

.sticker-body {
  border-top: 1px solid #fffdfd;
  width: 100%;
  overflow: hidden;
}

.delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 5px;
  padding-bottom: 20px;
  color: #d3cfcf;
  
}

label, 
input, 
textarea { 
  display: block; 
}
label {
  color: #fffdfd;
}
input.text,
textarea.text { 
  margin-bottom:10px;
  width: 80%; 
  padding: .4em; 
}

fieldset { 
  padding:0; 
  border:0; 
  margin-top:20px; 
}
  
.ui-dialog { 
  padding: .3em; 
}

.ui-dialog-titlebar-close, 
.ui-draggable-handle {
  display: none;
}  

 .ui-resizable {
    padding-top: 0;    
    border: 1px solid #f3f8f3;
    background-color: #565c56;
    user-select: none;
    
  }
  .ui-button {
    color: #fffdfd;
    border: 2px solid #fffdfd;
    margin-right: 5px;
  }

  .ui-button:hover {
    color: #fffdfd;
    border: 1px solid #fffdfd;
  }

 