body {
  font-family: 'Lato', sans-serif;
}

h2 {
  text-align: center;
}

.users-list-container ul {
  list-style: none;
}

.users-list-item {
  position: relative;
  width: 80%;
  padding: 10px 10px;
  border: 1px solid #969090;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.user-details {
  font-weight: bold;  
  position: relative;
  
}

.full-name {
 margin-right: 50px;
}

.company {
  font-style: italic;
}

input {
  width: 100%;
  margin-right: 20px;
}

.delete-btn {
  cursor: pointer;
  position: absolute;
  top: 90px;
  
}

.edit-btn {
  position: absolute;
  top: 130px;
  cursor: pointer;
}

.form-btn {
  padding: 0 15px;
  margin-left: 15px;
  margin-top: 20px;
}

.hidden {
  display: none;
}

